.Btn {
    width: 135px;
    height: 40px;
    border: 12px;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#fce168,#AE402D,#AE402D,#fce168,#77530a );
    background-size: 250%;
    background-position: left;
    color: #fce168;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "GET STARTED";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: #AE402D;
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }

  /* Define keyframe animation */
  @keyframes colorChange {
    0% { color: #AE402D; transform: scale(1); }
    50% { color: #AE402D; transform: scale(1.1); }
    100% { color: #AE402D; transform: scale(1); }
}

.animated-text {
    animation: colorChange 3.5s infinite;
}
/* Apply animation to the element */

